.ps-special-text{
    margin-top: 200px;
}
.ps-special-text > h2{
    font-size: 28px;
    font-weight: bold;
    margin: 26px 0 80px 0;
}
.container-efilling{
    background-color: #F5F5F5;
    box-shadow: rgba(0,0,0,0.14);
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.container-efilling > a{
    font-size: 24px;
    color: #2577AC;
}
.row-tab-function{
    /* position: absolute;
    width: 100%;
    top: 250px; */
}
.payslip-summary-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}
.payslip-summary-section > div{
    width: 100%;
}
.payslip-summary-section > div > p{
    font-size: 16px;
    font-weight: normal;
    color: #2C2C2C;
}
.select-month-section > p{
    display: inline-block;
}
.select-month-section > .form-control-select{
    display: inline-block;
    width: 40%;
    border-radius: 0;
}
.select-month-section > div{
    padding: 30px;
}
.select-month-section > div > p{
    font-size: 16px;
    font-weight: normal;
    color: #2C2C2C;
    margin-bottom: 0;
}
.select-month-section > div > h2{
    font-size: 48px;
    font-weight: bold;
    color: #0670B4;
}
.gross-salary > p, .sales > p, .income-taxes > p{
    color: #2C2C2C;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
.gross-salary > h4{
    color: #0670B4;
    font-size: 36px;
    font-weight: 600;
}
.sales > h4{
    color: #32B6A6;
    font-size: 36px;
    font-weight: 600;
}
.income-taxes > h4{
    color: #E8AA35;
    font-size: 36px;
    font-weight: 600;
}
.table-salary-breakdown > tbody > tr > td{
    background-color: #FFF;
    padding: 10px 20px;
}
.btn-view{
    background-image: url(../img/payslip/download-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2577AC;
    width: 31px;
    height: 31px;
    border-radius: 0;
}
.table-payslip > thead > tr > th{
    color: #565656;
    font-size: 14px;
    font-weight: normal;
    background-color: #F1F3F9;
}
.table-payslip > tbody > tr > td{
    color: #6D6D6D;
    font-size: 14px;
    font-weight: normal;
    border-top: 0;
}
.table-payslip tbody tr:nth-of-type(odd){
    background-color: #FFF;
}
.table-payslip tbody tr:nth-of-type(even){
    background-color: #F7FAFC;
}
.select-range-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 30px 0;
}
.select-range-container > p{
    font-size: 18px;
    font-weight: bold;
    color: #2C2C2C;
    width: 100%;
    margin: 0;
}
.select-range-container > small{
    font-size: 12px;
    color: #000000;
    font-weight: 100;
    margin: 0 20px;
}
.form-date{
    background-image: url(../img/payslip/ico-calendar.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    width: 180px;
    border-radius: 0;
    cursor: pointer;
}
.btn-download-section{
    text-align: center;
    margin: 20px 0;
}
.btn-download{
    background-color: #1D75AE;
    border-radius: 0;
    color: #FFF;
    text-transform: uppercase;
    transition: all .3s;
}
.btn-download[disabled]{
    background-color: #C1C1C1;
    transition: all .3s;
}