.background-cover{
    background-image: url(../img/ta/banner-img-tna.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.background-cover::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(225,225,225,0.7);
}
.flex-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ta-hours > h4{
    color: #0670B4;
    font-size: 28px;
    font-weight: 900;
}
.ta-hours > h4 > span > p{
    color: #000000;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}
.ta-special-text{
    text-align: left;
    max-height: 150px;
}
.ta-special-text > h4{
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 20px;
}
.ta-special-text > h4 > span{
    margin-left: 20px;
}
.ta-form-clock{
    display: flex;
    align-items: center;
}
.ta-form-clock > label{
    font-size: 16px;
    font-weight: normal;
}
.btn-save{
    background-color: #2FAC00;
    color: #FFF;
    font-size: 16px;
    border-radius: 0;
    width: 100%;
    height: 42px;
}
.btn-submit{
    background-color: #00A2BF;
    color: #FFF;
    font-size: 16px;
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    height: 42px;
}
.form-clock{
    width: 100px;
    border-radius: 0;
    margin-left: 8px;
}
.form-remarks{
    border-radius: 0;
    margin-left: 8px;
}
.form-type{
    display: flex;
    align-items: center;
}
.container-ta{
    margin-top: 20px;
}
.expand-button{
    box-shadow: none;
}
.container-table{
    width: 100%;
    max-width: 571px;
    margin: auto;
    padding-top: 20px;
}
.container-table > table{
    width: 100%;
    text-align: center;
}
.container-table > table > tbody{
    background-color: #FFF;
}
.container-table > table > tbody > tr > td{
    padding-top: 10px;
}
.container-table > table > tbody > tr > td:last-child{
    padding-bottom: 10px;
}
.container-table > table > thead{
    background-color: #F1F3F9;
}
.container-table > table > thead > tr > th{
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0;
}
.form-clock-2{
    margin: auto;
    width: 100px;
    border-radius: 0;
}
.form-select{
    border-radius: 0;
}
.btn_action{
    display: flex;
}
.btn-save-table{
    background-color: #00A2BF;
    border-radius: 0;
}
.btn-edit-table{
    background-color: #2FAC00;
    border-radius: 0;
}
.display-none{
    display: none;
}
.pending-approved{
    background-color: #FCE802;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.status-approved{
    background-color: #32B6A6;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.openCalendar{
    cursor: pointer;
}
.form-transparent, .form-transparent:focus, .form-transparent:active{
    border: none;
    box-shadow: none;
    background-color: transparent;
    outline: 0;
    -webkit-appearance: none;
    font-weight: 900;
    width: 200px;
}
.status-icon-tna{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.status-icon-tna > div > p{
    color: #8898AA;
    font-size: 14px;
    margin: 5px 0;
    height: 30px;
}