.tna-approver-bg{
    background-image: url(../img/ta/bg-tna.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.tna-approver-bg::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(225,225,225,0.3);
}
.hours-cirlce{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FBFBFB;
    border: 1px solid rgba(194, 152, 154, 0.43);
    position: relative;
    vertical-align: middle;
}
.hours-cirlce > h4{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    font-size: 24px;
    color: #0670B4;
    line-height: 10px;
    font-weight: bold;
}
.hours-cirlce > h4 > span{
    font-size: 12px;
    color: #000;
    font-weight: normal;
}
.date-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-info > span{
    margin-left: 0;
}
.date-info > span > span{
   font-weight: bold;
   margin-left: 10px;
}
.extra-service-cbx{
	display: table-cell;
	vertical-align: top;
	width: 20%;
}
.custom-checkbox-2{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox-2 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-2 {
	position: absolute;
	top: 0;
	right: 7px;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border: 2px solid #d7d7d7;
}

/* On mouse-over, add a grey background color */
/* .custom-checkbox-2:hover input ~ .checkmark-2 {
 	background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.custom-checkbox-2 input:checked ~ .checkmark-2 {
 	background-color: #3e3e3e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-2:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-2 input:checked ~ .checkmark-2:after {
 	display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-2 .checkmark-2:after {
	left: 9px;
	top: 3px;
	width: 7px;
	height: 16px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.form-control-select{
    border-radius: 0 !important;
}